*.env
*.tsbuildinfo
logs
coverage
*.log
.nyc_output

test-reports
junit
built
*.sqlite
junit.xml
.dccache
out/*
*.db
node_modules
.DS_Store

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
bun.lockb
