.env # do not commit env settings
.vscode # Do not commit IDE settings
node_modules
logs
coverage
*.log
.nyc_output

test-reports
data/sessions.db
junit
dist
.env
database.sqlite
junit.xml
.dccache
out/*
*.db

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
