coverage
*.sqlite
*.log
.env

dist
*junit.xml
rm.session.sql
node_modules
dist
build
*.tar
packages/**/*.js
package-lock.json

# Sentry Config File
.env.sentry-build-plugin

# Sentry Config File
.env.sentry-build-plugin
meta.json


.nx/
