version: "3.1"

services:
  nginx:
    build:
      context: services/sslProxy
    ports:
      - "443:443"
    restart: on-failure
    depends_on:
      node:
        condition: service_healthy

  db:
    image: postgres:14.5
    ports:
      - "5432:5432"
      # TODO: #1182 remove before prod https://github.com/drazisil/mco-server/issues/1008
    environment:
      POSTGRES_PASSWORD: "password"
      POSTGRES_DB: "mcos"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "db_prod"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s  
  
  pgadmin:
    image: dpage/pgadmin4:6.12
    # TODO: #1182 remove these before prod https://github.com/drazisil/mco-server/issues/1008
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@pgadmin.com"
      PGADMIN_DEFAULT_PASSWORD: "password"
      PGADMIN_LISTEN_PORT: "80"
      POSTGRES_DB: "mcos"
    ports:
      - "15432:80"
    volumes:
      - pgadmin:/var/lib/pgadmin
    depends_on:
      - db

  node:
    build:
        context: .
    user: "node"
    working_dir: /home/node/app
    volumes:
      - ./:/home/node/app
    environment:
      - DEBUG=mcos:*
      # TODO: #1182 remove before prod https://github.com/drazisil/mco-server/issues/1008
      - DATABASE_URL=postgresql://postgres:password@db:5432/mcos
      - EXTERNAL_HOST=10.10.5.20
      - PRIVATE_KEY_FILE=data/private_key.pem
      - PUBLIC_KEY_FILE=data/pub.key
      - CERTIFICATE_FILE=data/mcouniverse.crt
      - LOG_LEVEL=debug
    command: "make docker-init"
    ports:
      - "80:80"
      - "6660:6660"
      - "8228:8228"
      - "8226:8226"
      - "7003:7003"
      - "8227:8227"
      - "43200:43200"
      - "43300:43300"
      - "43400:43400"
      - "53303:53303"
      - "9000-9014:9000-9014"
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost/health || exit 1"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s  

volumes:
  pgadmin:
