[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==24.4.2"
cfgv = "==3.4.0"
click = "==8.1.7"
colorama = "==0.4.6"
coverage = "==7.5.3"
distlib = "==0.3.8"
filelock = "==3.15.4"
flake8 = "==7.1.0"
flake8-black = "==0.3.6"
identify = "==2.5.36"
iniconfig = "==2.0.0"
mccabe = "==0.7.0"
mypy-extensions = "==1.0.0"
nodeenv = "==1.9.1"
packaging = "==24.1"
pathspec = "==0.12.1"
platformdirs = "==4.2.2"
pluggy = "==1.5.0"
pre-commit = "==3.7.1"
pycodestyle = "==2.12.0"
pyflakes = "==3.2.0"
pytest = "==8.2.2"
pyyaml = "==6.0.1"
serializable = {file = "libs/serializable", editable = true}
server = {file = "projects/server", editable = true}
virtualenv = "==20.26.3"

[dev-packages]

[requires]
python_version = "3.12"
