#
# demo config for Proxy mode
# 

global
        maxconn         20000
        ulimit-n        16384
        log             stderr local0
        ssl-security-level 0
            ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-server-options ssl-min-ver TLSv1.0 no-tls-tickets
        daemon

frontend authlogin
        bind            *:80
        bind            *:443 ssl crt /usr/local/etc/haproxy/ssl/haproxy.pem
        mode            http
        log             global
        option          logasap
        option          tcplog
        option          httplog
        option          dontlognull
        option          nolinger
        maxconn         8000
        timeout client  30s

        # # layer3: Valid users
        # acl allow_host src 192.168.200.150/32
        # http-request deny if !allow_host

        # # layer7: prevent private network relaying
        # acl forbidden_dst url_ip 192.168.0.0/24
        # acl forbidden_dst url_ip 172.16.0.0/12
        # acl forbidden_dst url_ip 10.0.0.0/8
        # http-request deny if forbidden_dst

        default_backend test-proxy-srv


backend test-proxy-srv
        mode            http
        timeout connect 5s
        timeout server  5s
        retries         2
        option          nolinger

        # layer7: Only GET method is valid
        acl valid_method        method GET
        http-request deny if !valid_method

        # layer7: protect bad reply
        http-response deny if { res.hdr(content-type) audio/mp3 }

        server server1 host.docker.internal:3000
