name: Create Diagram

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3
      - name: Repo Visualizer
        uses: githubocto/repo-visualizer@0.8.1
