name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  MCO_LOG_LEVEL: warn

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci install
      - name: Test
        run: npm test
      - name: Codecov
        env: # Or as an environment variable
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          pip install --user pytest
          pip install --user codecov-cli
          codecovcli --verbose create-commit --fail-on-error 
          codecovcli --verbose create-report --fail-on-error 
          codecovcli --verbose do-upload --fail-on-error -F auth
          codecovcli --verbose do-upload --fail-on-error -F database
          codecovcli --verbose do-upload --fail-on-error -F gateway
          codecovcli --verbose do-upload --fail-on-error -F lobby
          codecovcli --verbose do-upload --fail-on-error -F login
          codecovcli --verbose do-upload --fail-on-error -F patch
          codecovcli --verbose do-upload --fail-on-error -F persona
          codecovcli --verbose do-upload --fail-on-error -F shard
          codecovcli --verbose do-upload --fail-on-error -F interfaces
          codecovcli --verbose do-upload --fail-on-error -F transactions
                    
      - uses: actions/upload-artifact@v3
        with:
          name: coverage_${{ matrix.node-version }}
          path: coverage
