name: Semgrep
on:
    pull_request: {}
    push:
        branches:
            - main
            - master
        paths:
            - .github/workflows/semgrep.yml
    schedule:
        - cron: "0 0 * * 0"
jobs:
    semgrep:
        name: Scan
        runs-on: ubuntu-22.04
        env:
            SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
        container:
            image: returntocorp/semgrep@sha256:42e234536c1742beb43985ed42ba7bbad67e3ed3f3a4cec125817276b3631e65
        if: (github.actor != 'dependabot[bot]')
        steps:
            - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
            - run: semgrep ci
